*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Asap", sans-serif;
}
body{
    font-size: 1.6rem;
    font-family: "Asap", sans-serif; 
}
.container{
    width: 100vw;
    margin: 0 auto;
}

.header-top{
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: rgba(101, 94, 94, 0.568)  ;
    width: 100vw;
    height: 82.4px;
}

.logo{
    padding: 10px 30px;
    position: relative;
    left: 50px;
}

.logo-img{
    border-radius: 0;
    height: 60px;
    width: 14   0px;
}

/* navbar */
.navbar__list{
    display: flex;
    font-size: 23px;
    padding: 0 157px;
    list-style: none;
}

.navbar-item{
    
    padding: 10px 30px;
}
.navbar__link{
    position: relative;
    text-decoration: none;  
}
.navbar-item a{    
    display: block;
    text-decoration: none;
    color: rgb(91, 65, 65);
}

.navbar__link:hover {
    text-shadow: 1px 0 0 #fff;
    color: rgb(69, 133, 133);
    text-decoration: none;
}
.sub-navbar{
    position: absolute;
    background-color:rgba(198, 196, 196, 0.568);
    /* padding: auto; */
    width: 200px;
    height: 240px;  
    list-style: none;
    visibility: hidden;
    z-index: 1;
    border-radius: 5%;
}
.navbar-item:hover .sub-navbar{
    visibility: visible;
}
.sub-navbar li{   
    margin-bottom: 5px;
}
.sub-navbar a{  
    margin-top: 20px;
    padding: 0px 10px;
    border-bottom: 1px solid #333;  
}
.sub-navbar li:last-child a{
    border: none;
}

.sub-navbar li:hover a{
    border-bottom: 1px solid #acacac;
}
/* Thiết lập border cho item của header */
.navbar-item .navbar__link::before{
    content: "";
    height: 2px;
    width: 0px;
    background: #f00;
    position: absolute;
    bottom: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
 }
 .navbar-item:hover .navbar__link::before{
    width: 100%;
 }   
.action{
    display: flex;
    padding-top: 10px;
    font-size: 22px;
    position: relative;
    right: 168px;
}

.action a{
    color: rgb(36, 35, 35);
}

.action a:hover{
    text-shadow: 1px 0 0 #fff;
    color: rgb(69, 133, 133);
    text-decoration:  underline;
}

.action__cart>a>i{
    padding-right: 7px;
}

.cart__head{
    position: relative;
    top: 10px;
    left: 50px;
}

.fa-cart-shopping{
    padding-right: 8px;
}

.fa-bell{
    padding-right: 8px;
}
/* rgb(232 232 232) background */

/* ---------------main--------------- */
.allitem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 82.4px;
}

.layout{
    width: 100vw;
    height: 1500px;
    position: relative;
}

.layout__item{
    width: 90vw;
    position: absolute;
    left: 5%;
    right: 5%;
    display: flex;
    flex-wrap: wrap;
    top: 35px;
}

.each-item{
    width: 300px;
    height: 350px;
    margin: 0 0 18px 26px;
    transition-property: translate display;
    transition-duration: 0.25s;
}

.each-item:hover{
    border: 0.25px;
    border-radius: 40px;
    background-color: #f4ebeb;
    translate: -3px -10px;
    cursor: pointer;
}
.img{
    width: 68%;
    height: 250px;
    display: flex;
    bottom: 10px;
    position: relative;
}

.img-item{
    width: 100%;
    height: 117%;
    left: 42px;
    position: absolute;
}

.img-hover{
    width: 100%;
    height: 117%;
    left: 42px;
    position: absolute;
}
.img-hover{
    display: none;
}

.each-item:hover .img-hover{
    display: block;
}

.each-item:hover .img-item{
    display: none;
}

.icon{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    left: 240px;
}
.icon>i{
    font-size: 20px;
}

.fa-cart-shopping{
    position: absolute;
    bottom: 20px;
}

.fa-plus:hover{
    color: rgb(238, 34, 34);
    cursor: pointer;
}

.fa-cart-shopping:hover{
    color: #acacac;
    cursor: pointer;
}

.fa-plus{
    position: absolute;
    bottom: 45px;
    left: 2px;
}

.name-item{
    font-size: 15px;
    font-weight: bold;
}

.cost-item{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

del{
    font-weight:10px;
}

.sale{
    color: #acacac;
    font-weight: lighter;
    font-size: 15px;
}

.discount{
    position: relative;
    left: 100px;
}


/* .moresee-btn{
    text-decoration: none;
    border: 0;
    padding: 0;
    position: relative;
    left: 43%;
    top: 20px;
    display: block;
}

.btn-more{
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
    border: 1px ;
    display: block;
}

.btn-more:hover{
    color: #a54f4f;
    background-color: #acacac;
} */