/* CSS cho phần chứa thông tin người dùng */
.user-info {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000; /* Đảm bảo nó ở trên cùng */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    right: -17px;
    top: 34px;
    width: 350px;
    border-radius: 8px;
}

/* Hiển thị thông tin khi hover vào biểu tượng */
.action__login:hover .user-info {
    display: block;
}

.action__login {
    position: relative;
}
.logout-btn {
    padding: 10px;
    background-color: #d74b4b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    
}

.logout-btn:hover {
    background-color: #ac3b3b;
}
.name-login{
    display: flex;
    position: relative;
    left: -45px;
}

.name-login strong{
    display: flex;
    font-size: 20px;
    font-family: "Asap", sans-serif;
}

.email-login{
    display: flex;
    position: relative;
    left: -33px;
}

.email-login strong{
    display: flex;
    font-size: 20px;
    font-family: "Asap", sans-serif;
    
}
.sdt{
    display: flex;
    position: relative;
    left: -87px;
}

.sdt strong{
    display: flex;
    font-size: 20px;
    font-family: "Asap", sans-serif;
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 60px;
    text-decoration: none;
    font-family: "Asap", sans-serif;
    padding: 10px 0px;
    width: 200px;
    
    border-radius: 10px;
}

.information__user-name{
    position: relative;
    left: 15px;
}

.information__user-email{
    position: relative;
    left: 50px;
}

.information__user-sdt{
    position: relative;
    left: 59px;
}

.user-info h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Asap", sans-serif;
    font-weight: bold;
}

.information{
    position: relative;
    top: 10px;
    padding-bottom: 30px;
}

.user-info a:hover{
    text-decoration: none;
    background-color: #C0C0C0;
    color: #770000;
}

.user-info::after {
    content: '';
    position: absolute;
    top: -10px; /* Vị trí của tam giác */
    right: 10px; /* Vị trí của tam giác */
    width: 0;
    height: 0;
    border-left: 15px solid transparent; /* Phần cạnh trái của tam giác */
    border-right: 15px solid transparent; /* Phần cạnh phải của tam giác */
    border-bottom: 15px solid #fff; /* Màu nền của tam giác, giống màu nền của thông tin người dùng */
}



/* đăng nhập thành công */
.success-message {
    background-color: #4CAF50; /* Màu nền xanh lá cây cho thông báo thành công */
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    position: fixed; /* Đặt vị trí cố định */
    top: 0; /* Gắn vào vị trí trên cùng của trang */
    left: 0;
    z-index: 9999; /* Đặt z-index cao nhất */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng đổ cho thông báo */
} 