/* Modal Container */
.modal {
  display: none; /* Ẩn modal khi không được kích hoạt */
  position: fixed; /* Định vị modal theo viewport */
  z-index: 1000; /* Đảm bảo modal xuất hiện trên các phần tử khác */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Đặt chiều cao modal bằng với chiều cao viewport */
  overflow: auto; /* Thêm cuộn nếu nội dung quá dài */
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền nửa trong suốt */
}

/* Modal Content */
.modal-content {
  background-color: #fff; /* Màu nền trắng cho nội dung modal */
  margin: 5% auto; /* Căn giữa modal theo chiều dọc và ngang */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Điều chỉnh chiều rộng của modal */
  max-width: 500px; /* Đặt chiều rộng tối đa cho modal */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, 0.15); /* Tạo hiệu ứng bóng đổ */
  border-radius: 10px; /* Bo tròn góc của modal */
  position: relative;
  top: 80px;
  font-family: "Asap", sans-serif;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styling */
.form-nd {
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
}

/* Label styling */
.form-nd label {
  font-weight: bold;
  margin-bottom: 10px; /* Khoảng cách giữa label và ô input */
  margin-top: 50px;
}

/* Input styling */
.form-nd input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Chiếm toàn bộ chiều rộng của form */
  box-sizing: border-box; /* Đảm bảo padding và border được bao gồm trong chiều rộng */
  margin-bottom: 10px; /* Khoảng cách giữa các ô input */
  margin-top: 3px;
}

/* Button styling */
.form-nd button {
  padding: 10px;
  background-color: #d74b4b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%; /* Chiếm toàn bộ chiều rộng của form */
}

.form-nd button:hover {
  background-color: #ac3b3b;
}

.form-nd p {
  margin-top: 15px;
  text-align: center;
}

.form-nd a {
  color: #d74b4b;
  text-decoration: none;
  font-weight: bold;
}

.form-nd a:hover {
  text-decoration: underline;
}

.form-nd h2{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

